.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    text-align: center
}
.already_user p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}