.form-control {
    width: 20rem;
    margin-bottom: 1rem;
   
   }
   .form {
       display: flex;
       align-items: center;
       margin-top: 5rem;
       border: 1px solid rgb(117, 111, 111);
       height: 30rem;
       width: 25rem;
       flex-direction: column;
       margin-left:25rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
   }
   
   .form h4 {
       padding-bottom: 1rem;
       
   }
    
   .btn-bor {
       border: 25rem 1px black;
   }